.cart-container {
    background-color: #161b22;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 16px rgba(0, 255, 255, 0.2);
    border: 1px solid #0ff;
    color: #fff;
}

.cart-container h2 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #0ff;
    margin-bottom: 20px;
}

.cart-item {
    display: flex;
    align-items: center;
    background-color: #0d1117;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    border: 1px solid #0ff;
}

.cart-item-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 15px;
    border: 2px solid #0ff;
}

.cart-item-details {
    flex: 1;
}

.cart-item-details h3 {
    font-family: 'Poppins', sans-serif;
    color: #0ff;
    margin: 0 0 10px;
}

.cart-item-details button {
    padding: 8px 12px;
    background-color: #0ff;
    color: #161b22;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    transition: background-color 0.3s, transform 0.3s;
}

.cart-item-details button:hover {
    background-color: #00d4ff;
    transform: scale(1.05);
}

.butonCompra {
    padding: 8px 12px;
    background-color: #0ff;
    color: #161b22;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    transition: background-color 0.3s, transform 0.3s;
    width: 100%;
}