.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #161b22;
    /* Fondo oscuro */
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 255, 255, 0.2);
}

.logoLink {
    font-size: 1.8rem;
    font-weight: bold;
    color: #0ff;
    /* Color neón */
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.navigation {
    display: flex;
    gap: 20px;
}

.iconLink {
    display: flex;
    align-items: center;
    color: #0ff;
    text-decoration: none;
    transition: color 0.3s, transform 0.3s;
    font-family: 'Roboto', sans-serif;
}

.iconLink:hover {
    color: #00d4ff;
    transform: scale(1.05);
}

.icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}