.informacionAdicional {
    padding: 20px;
    background-color: #161b22;
    border: 1px solid #0ff;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 2px 8px rgba(0, 255, 255, 0.2);
    color: #c8d1d9;
}

.informacionAdicional h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #0ff;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.informacionAdicional ul {
    list-style-type: none;
    padding: 0;
}

.informacionAdicional li {
    font-size: 1.2rem;
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.informacionAdicional li::before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background-color: #0ff;
    border-radius: 50%;
}