.inicio {
    padding: 20px;
    background-color: #0d1117;
    min-height: 100vh;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.inicio h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #0ff;
    margin-bottom: 30px;
}

.section {
    margin-bottom: 40px;
}

.section h2 {
    font-size: 2rem;
    color: #0ff;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}