/* Inicio.module.css */
.inicio {
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    /* Un fondo más claro para contrastar */
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.inicio h2 {
    margin-top: 40px;
    font-size: 1.8rem;
    color: #555;
}

.section {
    margin-top: 50px;
    /* Añadir espacio entre las secciones */
}